@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PrivacyPolicy>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "master.cshtml";
	string BannerImage = "";
  
    
     var BannerImageMediaPickerSingle = Model.ImagePrivacyPolicy;
    if (BannerImageMediaPickerSingle!=null)
    {
        BannerImage = BannerImageMediaPickerSingle.Url();
    }
}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="canonical" href="https://visa.orbscope.net/new/privacy_policy.html" />
    <!-- SEO -->
    <title>@Model.Value("titlePrivacyPolicySEO")</title>
    <meta name="description" content=" @Model.Value("describtionPrivacyPolicySEO")">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Visa" />
    <meta property="og:url" content="https://visa.orbscope.net" />
    <meta property="og:image" content="images/new/logo.webp" />
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:description" content="visa titans">
    <meta property="og:site_name" content="Visa Titans">
    <meta name="twitter:image:alt" content="Alt text for image">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="~/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS Styles -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" />
    <link rel="stylesheet" href="~/css/layout.min.css">      
    <link rel="stylesheet" href="~/css/check_visa_requirements.min.css">
</head>
<body class="homepage-9 hp-6 homepage-1 ">
    <div class="overlay"></div>
    <div class="loader-overlay invisible ">
        <div class="loader">
        <div class="stick1"></div>
        <div class="stick2"></div>
        <div class="stick3"></div>
        <div class="stick4"></div>
        </div>
    </div>
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- START SECTION HEADINGS -->
        <!-- Header Container
        ================================================== -->
      
        <!-- Header -->

        <!-- STAR HEADER SEARCH -->
        <section id="hero-area" class="parallax-searchs header-about" data-stellar-background-ratio="0.5"  style="background: url(@BannerImage) !important;">
            <div class="hero-main">
                <div class="container" data-aos="zoom-in">
                    <div class="row box-header">
                        <div class="col-12">
                            <div class="hero-inner">
                                <!-- Welcome Text -->
                                <div class="welcome-text">
                                    <h1 class="title-desc-blog"> 
                                       
                                      @Model.Value("headerPrivacyPolicy")
                                    </h1>
                                </div>
                                <!--/ End Welcome Text -->
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- END HEADER SEARCH -->


        <!-- START SECTION 1 bg-white  -->
        <section class="about-box bg-white">
            <div class="data">
                <div class="sec-title">
                    <h2>@Model.Value("titlePrivacyPolicy")</h2>
                </div>
                <div class="container">
                    <div class="row" style="background-image: url(images/new/test.png);">
                        --------
                        @Model.Value("describtionPrivacyPolicy")
               
            </div>
        </div>
        </div>
    </section>
    <!-- END SECTION 1 -->           

 <!-- START FOOTER -->

<!-- END FOOTER -->

<script src="~/js/jquery-3.5.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>


<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="~/js/layout.min.js"></script>


    </div>
    <!-- Wrapper / End -->
</body>

</html>
